<script type="text/javascript">
	var pusher = new Pusher('1e0a6ecb2d4cebfeb716');
  var channel = pusher.subscribe('<%= Rails.env %>_room_<%= params[:room_id] %>');
  channel.bind('<%= Rails.env %>_chat_messages_event', function(data) {
	var message = '<dt>'+data.username+'</dt><dd>'+data.content+'</dd>';
	$("#chat_room").append(message);
  });
	$("a.close").live('click', function() {
	  $(this).parent().addClass('hidden');
	});
</script>

<div class="chat_container span4">
	<div class="page-header">
		<h1>
			Room <%= params[:room_id] %>
			<small><%= Message::CHAT_SUBJECTS.sample %></small>
		</h1>
	</div>
	<dl class="dl-horizontal well" id="chat_room">
		<% if @messages.next_page %>
			<%= button_to "Load previous message", 
				{ action: :index, params: { page: @messages.next_page } },
				class: "btn btn-info span3", form_class: "prev", method: :get,
				remote: true, disable_with: "loading..."
			%>
		<% end %>
	  <%= render @messages.reverse %>
	</dl>
	 
  <%= form_for Message.new, url: room_messages_path(params[:room_id]), html: { class: "well", id: "send" }, remote: true do |f| %>
		<div class="alert alert-error hidden"></div>
	  <%= f.text_field :content, placeholder: "Message.." %>
		<%= f.submit "Send", class: "span1" %>
	<% end %>
</div>